@import "../../../../variable.module.scss";

.storyInput {
  font-size: 16px;
  @include smallLaptop {
    width: 100% !important;
  }
}
.languageInput {
  font-size: 16px !important;
}

.radioContainer {
  margin-top: 16px;
  width: 100% !important;
  background-color: $primaryTextColor;
  justify-content: left !important;
  padding-left: 24px;
}
