@import "../../../../variable.module.scss";

.addExpertisebtn {
  cursor: pointer;
  margin-top: 16px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  padding: 16px 0;
  .add {
    padding: 1px;
    border-radius: 50%;
    margin-right: 24px;
    font-size: 18px;
    width: 24px;
    height: 16px;
    border: 1px solid $blackColor;
  }
}
