@import "../../../variable.module.scss";

.dropDown {
  color: $greyColor9;
  margin-top: 16px;
}

.stepTextArea {
  margin-top: 16px;
  color: $greyColor9;
  @include smallLaptop {
    width: 100%;
  }
}
