@import "../../../variable.module.scss";

.investmentOppContainer {
  padding: 80px 80px 0 80px;

  .topPickContainer {
    margin-top: 64px;
    .topPickContainerHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .topPickCards {
      margin-top: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .becomeInvestorContainer {
    margin-top: 64px;
    margin-left: -80px;
    margin-right: -80px;
    padding: 64px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primaryBackgroundColor;
    .becomeHeadingContainer {
      width: 35%;
      .becomePageHeading {
        color: $primaryTextColor !important;
      }
      .subHeadingBecome {
        margin-top: 16px;
        color: $subheadingColor2;
      }
    }
  }
}

.breakFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.linkItem {
  cursor: pointer;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  color: $searchInputColor;
  .linkLabel {
    margin-right: 8px;
    cursor: pointer;
  }
}
.linkMargin {
  margin-right: 48px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $searchInputColor;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $searchInputColor;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $searchInputColor;
}
