@import "../../variable.module.scss";

.becomeInvestorContainer {
  margin-top: 64px;
  margin-left: -7%;
  margin-right: -5%;
  padding: 64px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primaryBackgroundColor;
  .becomeHeadingContainer {
    min-width: 35%;
    max-width: 68%;
    .becomePageHeading {
      color: $primaryTextColor !important;
    }
    .subHeadingBecome {
      margin-top: 16px;
      color: $subheadingColor2;
    }
  }
}
