@import "../../../variable.module.scss";

.inputContainer {
  .inputImage {
    position: relative;
    right: 320px;
    top: 8px;
  }
  .input {
    width: 280px;
    height: 70px;
    border-radius: 8px;
    background: $inputBackground;
    padding-left: 24px;
    font-size: 22px !important;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
.fullWidth {
  width: 98% !important;
}
