@import "../../../variable.module.scss";

.addFounderBtn {
  margin-top: 168px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #7c7c7c;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7c7c7c;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #7c7c7c;
}
