@import "../../variable.module.scss";

.headingSubHeadingContainer {
  display: block;
  flex-direction: column;
  .heading {
    color: $blackColor;
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 137.5% */
    letter-spacing: 0.64px;
  }
  .subHeading {
    margin-top: 24px;
    color: $greyColor6;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.64px;
    max-width: 508px;
  }
}
